ArduinoCode/
Asembly programs/
Documentation/
!Documentation/'8-Bit Computer.pdf'
!Documentation/Schematics/All modules/'ALU.pdf'
!Documentation/Schematics/All modules/'Clock Module.pdf'
!Documentation/Schematics/All modules/'Control Matrix.pdf'
!Documentation/Schematics/All modules/'General purpose Register.pdf'
!Documentation/Schematics/All modules/'Input Module.pdf'
!Documentation/Schematics/All modules/'Power.pdf'
!Documentation/Schematics/All modules/'RAM.pdf'

EasyEDA/
Inventor/
Kicad/
Logisim/
Pictures/
